*{
    margin: 0;
    padding: 0;
}

header .logo {
    padding: 28px 48px;
}

.menu {
    padding: 10px 26px;
}
.menu ul li{
    list-style-type: none;
    float: right;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px;
}
